/* Global styles */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
}

body > div#root {
    padding-bottom: 60px; /* Zastąp 60px wysokością footera */
}

footer {
    width: 100%;
    position: sticky;
    bottom: 0;
    background-color: #f1f1f1;
    padding: 10px; /* Dodaj padding dla estetyki */
}
